@model ABC.SellingItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SellingItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.itemname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sellingrate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sellingrate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buyingrate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buyingrate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
