@model IEnumerable<ABC.StudentAttendance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Today Student Attendance</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Student.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inout)
        </th>
        <th>
          created by
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.date)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Student.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.inout)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserData.name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
