@model ABC.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.regid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
